[user]
	name = Eddie Wang
	email = eddiew@cs.stanford.edu
[user]
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	autocrlf = false
	excludesfile = ~/gitignore_global.txt

[credential]
	helper = cache --timeout=3600
